* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 8vh;
    text-align: center;
}

#statusBar {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-align: center;
}

.taskBox {
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}

.taskList {
    width: 100%;
}

.addNewTask {
    width: 100%;
    padding: 3.5%;
}

.taskElement {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 2%;
    width: 100%;
    display: inline-block;
	vertical-align: top;
		word-wrap: break-word;
    word-break: break-all; /*a little crutch here. should be discussed later. made it to force word wrapping*/
}

.paperE {
    width: 100%;
    text-align: center;
}

.circleButtonStyle, i {
    cursor: pointer;
}

.circleButtonStyle {
    line-height: 65px;
}

.iconsArea {
    float:right;
    position: absolute;
    right: 5%;
    background-color: #546e7a;
    border-radius: 3px;
    padding: 5px;
}

.iconsArea i {
    color:white;
}

.textArea {
    float:left;
		text-align: left;
}
