* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 8vh;
    text-align: center;
}

.taskBox {
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}

.taskList {
    width: 100%;
}

.addNewTask {
    width: 100%;
    padding: 3%;
}

.taskElement {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    width: 100%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
	  vertical-align: top;
		word-wrap: break-word;
    word-break: break-all; /*a little "crutch" here. should be discussed later. made it to force word wrapping*/
}

.paperE {
    width: 100%;
    text-align: center;
}

.circleButtonStyle, i {
    cursor: pointer;
}

.circleButtonStyle {
    line-height: 65px;
}

.iconsArea {
    float:right;
    position: absolute;
    right: 3.3%;
    background-color: #546e7a;
    opacity: 0.9;
    padding: 5px;
		opacity: 0.9;
}

.iconsArea i {
    color:white;
}

.textArea {
    float:left;
	text-align: left;
}
